{% load static %} {% block body%} {% include 'admin_navigation.html' %}

<script>
  function checkpass() {
    if (
      document.changepassword.newpassword.value !=
      document.changepassword.confirmpassword.value
    ) {
      alert("New Password and Confirm Password does not match..!");
      document.changepassword.confirmpassword.focus();
      return false;
    }
    return true;
  }
</script>

<h4
  style="
    font-family: 'cursive';
    font-size: 20px;
    color: black;
    background-color: #dcd6f7;
    font-weight: bold;
    margin-top: 0%;
    height: 40px;
    text-align: center;
    padding-top: 1%;
  "
>
  Change Password
</h4>
<hr />
<div
  style="
    border: 1px solid gray;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 20px;
    padding-right: 20px;
  "
>
  <form
    class="container mt-5"
    method="post"
    name="changepassword"
    onsubmit="return checkpass()"
  >
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input
      type="password"
      class="form-control"
      name="currentpassword"
      required="true"
    />

    <label><b>New Password</b></label>
    <input
      type="password"
      class="form-control"
      name="newpassword"
      required="true"
    />

    <label><b>Confirm New Password</b></label>
    <input
      type="password"
      class="form-control"
      name="confirmpassword"
      required="true"
    />

    <center>
      <input
        type="submit"
        class="btn btn-primary"
        value="Login"
        style="
          margin-top: 2%;

          color: white;
          background-color: darkcyan;
          height: 40px;
        "
      />
    </center>
    <br />
  </form>
</div>

{% include 'footer.html' %} {% if error == "no" %}
<script>
  alert("Your Password Updated Successfully...!");
  window.location.href = "LogOut";
</script>
{% endif %} {% if error == "yes" %}
<script>
  alert("Something went wrong,Try again..!");
</script>
{% endif %} {% if error == "not" %}
<script>
  alert("Your current password is wrong..!");
</script>
{% endif %} {% endblock %}
