{% load static %} {% block body%} {% include 'admin_navigation.html' %}

<marquee
  style="
    font-family: 'cursive';
    font-size: 20px;
    color: black;
    background-color: #dcd6f7;
    font-weight: bold;
    margin-top: 0%;
    height: 30%;
  "
>
  View Recruiter - Pending
</marquee>
<hr />
<form class="container mt-5" method="post">
  {% csrf_token %}
  <label><b>Recruiter Name</b></label>
  <input
    type="text"
    class="form-control"
    name="uname"
    value="{{recruiter.user.first_name}} {{recruiter.user.last_name}}"
  />

  <label><b>Status</b></label>
  <select class="form-control" name="status">
    <option value="Accept">Accept</option>
    <option value="Reject">Reject</option>
  </select>

  <input
    type="submit"
    class="btn btn-primary"
    value="Login"
    style="
      margin-top: 2%;

      color: darkcyan;
      background-color: black;
      height: 40px;
    "
  />
</form>

{% include 'footer.html' %} {% if error == "no" %}
<script>
  alert("Status Changed Successfully");
  window.location.href = "recruiter_all";
</script>
{% endif %} {% if error == "yes" %}
<script>
  alert("Something went wrong,Try again..!");
</script>
{% endif %} {% endblock %}
