{% load static %} {% block body%} {% include 'recruiter_navigation.html' %}

<style>
    tr{text-align: center;}
</style>

<marquee
  style="
    font-family: 'cursive';
    font-size: 20px;
    color: black;
    background-color: #dcd6f7;
    font-weight: bold;
    margin-top: 0%;
    height: 30%;
  "
>
  Manage Job Detail
</marquee>
<hr />
<div class="container">
  <table class="table table-hover" id="example">
    <thead>
      <tr style="background-color: lightblue">
        <th>Sr.No.</th>
        <th>Job Title</th>
        <th>Creation Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for i in job %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.title}} </td>
        <td>{{i.creationdate}}</td>
        

        <td>
            <a href="{% url 'edit_jobdetail' i.id %}" class="btn btn-success btn-sm">Edit</a> |
            <a href="{% url 'change_status' i.id %}" class="btn btn-danger btn-sm">Delete</a>
            
         </td>
         </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {%endblock %}
</div>
